/* the Pied Piper Global Footer CSS */

.pies-global-footer-body {
  padding: 1rem 0;
}
.pies-global-footer-inverse {
  background: #333;
  color: #FFF;
}
.pies-global-footer-inverse a {
  color: #FFF;
}
.pies-global-footer-inverse a:hover {
  color: #FFF;
}
.pies-global-footer-lighter {
  background: #777;
  color: #FFF;
  padding: 1.4rem 0 0 0;
  margin: 1rem 0 0;
}
