.sideways-tweets {
    display: -webkit-box;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.sideways-tweets-old {
  position: relative;
  z-index: 2;
  margin: -1rem 0 1rem 0;
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -1rem 0 0;
  white-space: nowrap;
}
.sideways-tweets .card {
  width: 300px !important;
  display: block;
  margin: 0 1rem 0 0;
  white-space: normal;
}
